<article>
    <header>
        <h1 data-bind="text: title"></h1>
        <div class="controls">
            <div class="controls">
                <div class="row">
                    <input data-bind="attr: { placeholder: placeholderText}" type="text">
                    <button data-bind="text: createText, enable: enableAdd"></button>
                </div>
                <div class="row">
                    <select name="" id="" class="saved_list"></select>
                    <button data-bind="text: loadText, enable: enableLoad"></button>
                </div>
            </div>
        </div>
    </header>
    <section>
        
    </section>
</article>